<template>
  <main class="container" style="padding: 20vh 0; text-align: center">
    <div v-show="visible" style="font-size: 10em; font-weight: bold">404</div>
  </main>
</template>
<script>
import modules from "../modules.js";
export default {
  //TODO
  async beforeCreate() {
    if (this.$route.path != "/") return setTimeout(() => this.visible = true);

    try {
      const r = await api.GET("/api/users/user/me");
      if (r.ok) window.user = r.content;
      else window.user = null;
    } catch (e) { window.user = null; }

    if (window.user) {
      router.push("/tasks");
    } else {
      router.push("/login");
    }
  },
  data() {
    return { visible: false };
  }
};
</script>
