<template>
  <div>
    <header>
      <div class="container flex align-items-center">
        <router-link to="/">
          <img
            src="/logo-transparent.png"
            class="header_logo"
          >
        </router-link>
        <div class="flex-1" style="position: relative; font-size: 0.8em; left: -1.1em; top: 0.2em; opacity: 0.5;">
          ➜ make a simple project
        </div>
        <div class="header_search flex" :class="{open:button}">
          <input
            type="search"
            placeholder="Projekt durchsuchen"
            maxlength="100"
            v-model="searchterm"
            @blur="leftSearch()"
          >
          <button @click="button=true">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>

      <nav class="container flex align-items-flex-end">
        <div class="nav_project flex-1">
          <router-link to="/project" class="nav_config" v-if="admin">
            <i class="fa fa-cog"></i>
          </router-link>

          <h1>{{projectName}}</h1>
          <p>{{description}}</p>
          <div class="nav_links">
            <a
              :href="name"
              target="_blank"
              v-for="(name, link) in links"
              class="button"
              :key="name"
            >{{link}}</a>
          </div>
        </div>
        <div v-if="username">
          <router-link to="/users/me/edit" class="nav_user flex align-items-center">
            <span>{{username}}</span>
            &emsp;
            <!--Leerzeichen, für Optische Schöhnheit :)-->

            <v-gravatar v-bind:size="sizeAvatar" v-bind:email="Email"/>
          </router-link>
        </div>
      </nav>
    </header>
    <main class="container flex background-light-200 no-padding" style="z-index:10; box-shadow: none;margin-bottom:-2px;border-bottom-left-radius:0;border-bottom-right-radius:0">
      <router-link style="flex-basis: 100; flex-grow: 1; border: none" class="button" :style="{'background':$route.path.indexOf(item.link) == 0 ? 'white' : 'transparent'}" :to="item.link" v-for="item in navigationlist" :key="item.name" > {{item.name}} </router-link>
    </main>

    <router-view :search="searchterm" :key="$route.fullPath"></router-view>

    <footer>
      <div class="container flex align-items-flex-start">
        <div class="flex-1">
          powered by
          <a href="https://git.mo-mar.de/masp/masp">masp</a> - make a simple project
          <br>
          <a href="https://git.mo-mar.de/masp/masp/issues" text="Fehler melden">Fehler melden</a>
        </div>
        <div class="text-align-right">
          Programmversion: {{projectVersion}}
          <br>
        </div>
      </div>
    </footer>
    <!-- Ende fussbereich -->
  </div>
  <!-- Ende wrapper -->
</template>

<script>
import PageNotFound from "./404";
import ProjectSettings from "./project_settings";
import Redir from "./redir";

import modules from "../modules.js";
import Vue from "vue";
import VueRouter from "vue-router";
import Gravatar from "vue-gravatar";

Vue.use(VueRouter);
Vue.component("v-gravatar", Gravatar);

window.router = new VueRouter({
  mode: "history",
  routes: [
    ...modules.reduce((prev, curr) => {
      if (typeof curr.routes === "function") return prev.concat(curr.routes());
      else return prev;
    }, []),
    { path: "/project", component: ProjectSettings },
    { path: "/@:token", component: Redir},
    { path: "*", component: PageNotFound }
  ]
});

export default {
  data() {
    document.title = window.config["project-name"] + " - masp";
    setTimeout(() => this.load());
    return {
      projectName: window.config["project-name"],
      projectVersion: window.config["project-version"],
      description: window.config["project-description"],
      links: JSON.parse(window.config["project-links"] || "{}") || {},
      searchterm: "",
      username: null,
      Email: "",
      admin: false,
      sizeAvatar: 50,
      navigationlist: [
        { name: "Aufgaben", link: "/tasks" },
        { name: "Nutzer", link: "/users" }
      ],
      button: false
    };
  },
  methods: {
    leftSearch() {
      if (this.searchterm == "") this.button = false
    },
    async load() {
      let r = await api.GET("/api/users/user/me");
      if (r.ok) {
        this.admin = r.content.admin_flag == 2 ? true : false; 
        this.username = r.content.name;
        this.Email = r.content.mail;
      } else {
        this.admin = false;
        this.username = "";
        this.Email = "";
      }
    }
  },
  settings() {
    return {
      module: "Basismodul",
      settings: [
        {
          type: "text",
          name: "project-name",
          title: "Projektname"
        },
        {
          name: "project-version",
          type: "hidden"
        },
        {
          type: "text",
          name: "project-description",
          title: "Beschreibung"
        },
        {
          type: "textarea",
          name: "project-links",
          title:
            'Links <code>{"Example":"https://example.org","...":"..."}</code>'
        }
      ]
    };
  },
  router
};
</script>
