<template>
  <main class="container padding-vertical-xs">
    <div class="flex">
      <h1 class="flex-1">Projekteinstellungen</h1>
      <button name="saveButton" class="button-primary" v-on:click="save">Speichern</button>
    </div>
    <div v-for="m in modules" :key="m.module">
      <h2>{{m.module}}</h2>
      <div v-for="k in m.settings" :key="k.name" v-show="k.type != 'hidden'" class="padding-vertical-xs">
        <h4 v-html="k.title || k.name"></h4>
        <input v-if="k.type=='text'" type="text" v-model="k.content">
        <textarea
          v-if="k.type=='textarea'"
          v-model="k.content"
          rows="5"
          style="font-family: monospace; font-size: 0.9em"
        ></textarea>
        <input v-if="k.type=='checkbox'" type="checkbox">
        <button v-if="k.type=='button'"></button>
      </div>
    </div>
    <button
      name="saveButton"
      class="saveButton_userSettings button-primary"
      v-on:click="save"
    >Speichern</button>
    <div style="clear: right;"></div>
  </main>
</template>

<script>
import modules from "../modules.js";
import App from "./app";

export default {
  data() {
    let s = [];
    let mod = [App, ...modules];
    for (let i = 0; i < mod.length; i++) {
      if (typeof mod[i].settings == "function") {
        let set = mod[i].settings();
        if (set && set.settings)
          set.settings = set.settings.map(x => {
            x.content = null;
            return x;
          });
        s.push(set);
      }
    }
    setTimeout(() => this.load());
    return { modules: s };
  },
  methods: {
    /**
     * lädt die alten Werte
     */
    async load() {
      for (let i = 0; i < this.modules.length; i++) {
        for (let j = 0; j < this.modules[i].settings.length; j++) {
          try {
            const r = await window.api.GET(
              "/api/base/settings/" +
                encodeURIComponent(this.modules[i].settings[j].name)
            );
            if (!r.ok && r.status != 404)
              throw new Error(
                "network error: " + r.status + " " + r.statusText
              );
            this.modules[i].settings[j].content = r.content;
          } catch (err) {
            console.error(err);
            alert(err.message);
            return window.location.reload();
          }
        }
      }
    },
    /**
     * speichert die neuen Werte
     */
    async save() {
      for (let i = 0; i < this.modules.length; i++) {
        for (let j = 0; j < this.modules[i].settings.length; j++) {
          try {
            const r = await window.api.PUT(
              "/api/base/settings/" +
                encodeURIComponent(this.modules[i].settings[j].name),
              this.modules[i].settings[j].content
            );
            if (!r.ok)
              throw new Error(
                "network error: " + r.status + " " + r.statusText
              );
            this.modules[i].settings[j].content = r.content;
          } catch (err) {
            console.error(err);
            alert(err.message);
            return;
          }
          status = (await window.api.PUT(
            "/api/base/settings/" +
              encodeURIComponent(this.modules[i].settings[j].name),
            this.modules[i].settings[j].content
          )).status;
          console.log(this.modules[i].settings[j].name + " - " + status);
        }
      }
      window.location.reload();
    }
  },
  async beforeRouteUpdate(to, from, next) {
    await this.load();
    return next();
  },
  async beforeCreate() {
    try {
      const r = await api.GET("/api/users/user/me");
      if (r.ok) window.user = r.content;
      else window.user = null;
    } catch (e) {
      window.user = null;
    }

    if (!window.user) {
      router.push("/login");
    }
  }
};
</script>





