<template>
  <main class="container padding-vertical-xs">
    <div>
      <h1>Sie werden gleich weitergeleitet...</h1>
      <p>{{ $route.params.token }}</p>
    </div>
  </main>
</template>

<script>
export default {
  data() {
  setTimeout(() => this.load());
  return {}
  },
  methods: {
    async load() {
      let token = this.$route.params.token;
      if (token.length < 40 || window.user) {
        if (token.length >= 40) token = token.substr(40);
        let r = await api.GET("/api/base/module-by-id/"+ encodeURIComponent(token))
        if (!r.content.hasOwnProperty('id')) {
          router.push("/" + encodeURIComponent(r.content.module))
        }else {
        router.push("/" + encodeURIComponent(r.content.module) + "/" + encodeURIComponent(r.content.id));
        }
      }else{
        let r = await api.POST("/api/users/token-login", {'token': token })
        if (r.status == 401) {alert("Der verwendete Token ist leider nicht Korrekt!\nSie werden zum Login weitergeleitet."); router.push("/login"); return;}
        localStorage.setItem("hash", r.content.hash);
        api.options.headers.Authorization = "Bearer " + r.content.hash;
        router.push("/@"+ encodeURIComponent(token.substring(40)))
      }
    }  
  }
};
</script>
