/****************************/
/** Grundlegende Variablen **/
/****************************/

:root {
  --font-family: "Fira Sans", sans-serif;
  --color-primary-dark: #5e175a;
  --color-primary: #863067;
  --color-primary-light: #ad5270;
  --color-secondary: #0069C4;
  --light-300: color-mod(var(--light-400) tint(20%) saturation(+1.25%));
}

/** Grundlegendes Layout **/

html, body { font-family: var(--font-family); background: #f6f6f6; font-size: 16px; }

/** Grunlegende Elemente **/

a {
  color: var(--color-secondary);
}

/** Hilfsklassen **/

.avatar { width: 48px; height: 48px; border-radius: 32px; }

.text-align-right { text-align: right; }

/***************/
/** Kopfzeile **/
/***************/

header {
  padding: 25px 25px 100px;
  background: linear-gradient(35deg, var(--color-primary-dark), var(--color-primary), var(--color-primary-light));
  color: #fff;
}

header h1 {
  padding: 0; margin: 0; display: inline-block;
  font-size: 1.3rem;
}

.header_logo {
  max-height: 48px;
  margin-right: 10px;
}
.header_search {
  color: #000;
  background: #fff;
  border-radius: 100px;
  position: relative;
  z-index: 1001;
  transition: 0.4s;
}
.header_search>* { border: none; background: transparent; margin: 0; }
.header_search>:first-child { border-radius: 100px 0 0 100px; }
.header_search>:last-child { border-radius: 0 100px 100px 0; }
.header_search>button { padding-left: 1em; }

/*****************************************/
/** Naviagtion und Projekteigenschaften **/
/*****************************************/

nav {
  padding-top: 40px;
  padding-bottom: 25px;
}

.nav_config {
  width: 1.5rem; height: 1.5rem;
  border-radius: 0.75rem;
  display: inline-flex; align-items: center; justify-content: center;
  position: relative; top: -1px; left: -1.8rem; margin-right: -1.8rem;
  cursor: pointer; opacity: 0.4; transition: 0.1s opacity, 0.1s background-color;
  text-decoration: none !important ;
  color: inherit; 
}
.nav_config:hover {
  opacity: 1;
  background: rgba(255,255,255,0.2);
}

.nav_links { margin-left: -15px; }
.nav_links>.button { border-radius: 50px; border: none; padding: 10px 15px; height: auto; margin-right: 10px; color: var(--color-secondary); }

.nav_user { font-weight: bold; 
  text-decoration: none !important ;
  color: inherit; }
.nav_user>.avatar { margin-left: 10px; }

/**************************/
/** Container für Module **/
/**************************/

main {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 3px;
  position: relative; top: -100px;
}

/**************/
/** Fußzeile **/
/**************/

footer { margin-top: -75px; padding: 0 25px 25px; }

footer a { font-weight: bold; }

/********************/
/** Mobile Ansicht **/
/********************/

@media screen and (max-width: 70rem) {
  .container { border-radius: 0; }
  header { padding: 10px 10px 100px; }
  header>div { padding-right: 60px !important; justify-content: flex-end; }
  header>div>a, header>div>.flex-1 { display: none; }
  header>nav { padding-top: 0; padding-bottom: 20px; margin-top: -38px !important ; }
  .nav_user>span { display: none; }
  .nav_user>img { position: absolute; top: 10px; right: 10px;  }
  header>nav:not(.open) .nav_project>p, header>nav:not(.open) .nav_project>.nav_links { display: none; }
  .nav_config { margin-left: 10px; }
  .nav_project { max-width: calc(100% - 100px); }
  .header_search:not(.open) { background: transparent; color: #fff; }
  .header_search:not(.open)>input { display: none; }
  .header_search:not(.open)>button { border-radius: 100px; padding: 10px; }
  .header_search:not(.open)>button:not(:hover):not(:active) { color: #fff; }
  /* TODO: add chevron next to project title for folding */
  /* TODO: toggle search */
  /* TODO: footer is crammed */
}
@media screen and (max-width: 50rem) {
  footer>* { flex-direction: column; align-items: stretch !important; }
  footer>*>* { text-align: center !important; margin-bottom: 0.5em; }
}

.multiselect__content-wrapper { z-index: 10001 !important; }
