<template>
  <main class="container">
    <pre>{{ result }}</pre>
    <div>
      <label>Name:</label>
      <input type="text" v-model="world">
    </div>
    <div>
      <label>Wort:</label>
      <input type="text" v-model="wort">
    </div>
    <div>
      <label>Suffix:</label>
      <input type="text" v-model="suffix">
    </div>
    <div>
      <label>Stupid:</label>
      <input type="checkbox" v-model="stup">
    </div>
    <div>
      <label>Message:</label>
      <textarea v-model="message"></textarea>
    </div>
  </main>
</template>

<script>
export default {
  routes() {
    return [{ path: "/hello", component: this }];
  },
  settings() {
    return {settings: []};
    let ignore = {
      module: "example",
      settings: [
        {
          type: "text",
          name: "hello-world"
        },
        {
          type: "text",
          name: "..."
        },
        {
          type: "button",
          name: "anonymous-access"
        },
        {
          type: "checkbox",
          name: "unnamed"
        }
      ]
    };
  },
  data() {
    return {
      world: "World",
      wort: "",
      suffix: "",
      result: "",
      stup: false,
      message: ""
    };
  },
  methods: {
    async helloworld() {
      let res;

      // Beispiel: Möglichkeiten, mit dem Server zu kommunizieren
      // 1. URL-Parameter (Namen von Resourcen) an den Server schicken; String zurück
      // 2. Query-Parameter (Zusätzliche Daten) an den Server schicken; String zurück
      // 3. Header (zusätzliche Metadaten zur Anfrage) an den Server schicken; String zurück
      // 4. Body mit Objekt (Inhaltsdaten/Objekte) an den Server schicken; String zurück
      // 5. Wie 4., aber der Server sendet ein Objekt zurück
      // 6. Wie 5., aber der Server sendet zusätzlich einen Header zurück
      // Tipp: res ist ein https://developer.mozilla.org/en-US/docs/Web/API/Response

      if (!this.message) {
        res = await window.api.GET(
          "/api/hello/" +
            encodeURIComponent(this.world) +
            "?wort=" +
            encodeURIComponent(this.wort) +
            "&suffix=" +
            encodeURIComponent(this.suffix),
          {
            "Masp-Is-Stupid": this.stup ? "ja" : ""
          }
        );
      } else {
        res = await window.api.POST(
          "/api/hello/" +
            encodeURIComponent(this.world) +
            "?wort=" +
            encodeURIComponent(this.wort) +
            "&suffix=" +
            encodeURIComponent(this.suffix),
          {
            message: this.message
          },
          {
            "Masp-Is-Stupid": this.stup ? "ja" : ""
          }
        );
      }
      return res.content; // Ist ein String
      // return res.content.message; // res.content ist ein Objekt (wenn c.JSON statt c.String)
    }
  },
  watch: {
    async world() {
      this.result = await this.helloworld();
    },
    async wort() {
      this.result = await this.helloworld();
    },
    async suffix() {
      this.result = await this.helloworld();
    },
    async stup() {
      this.result = await this.helloworld();
    },
    async message() {
      this.result = await this.helloworld();
    }
  }
};
</script>
